@{
    Layout = null;
}
<!DOCTYPE html>
<html style="height: 100%;">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>青羊区政务</title>
    <link href="~/Scripts/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="assets/fonts/iconfont.css"> -->
    <link href="~/Scripts/assets/css/footer.css" rel="stylesheet" />
    <!-- <script src="assets/fonts/iconfont.js"></script> -->
    <link href="~/Scripts/assets/css/css.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="logo">
                <img src="~/Scripts/img/logo.jpg" />
            </div>
        </div>
    </div>
    <div class="container" style="min-height: 100%;">
        <div class="row notfooter">
            <div class="col-md-12 mt15">
                <div class="notice-list">
                    <p>当前窗口：工商21</p>
                    <p>服务工作人员：张三</p>
                    <div class="panel panel-info mt15">
                        <div class="panel-heading"><h3>服务评价</h3></div>
                        <div class="panel-body evaluate">
                            <form>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                                        优良
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                        好
                                    </label>
                                </div>
                                <div class="radio disabled">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled="">
                                        较好
                                    </label>
                                </div>
                                <div class="radio disabled">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios4" value="option3" disabled="">
                                        差
                                    </label>
                                </div>
                            </form>
                            <hr />
                            <div class="">
                                评语
                                <textarea class="form-control mt15" rows="6"></textarea>
                            </div>
                            <div class="mt15">
                                <a id="modal-647806" href="#modal-container-647806" role="button" data-toggle="modal" class="btn btn-info btn-block">提交</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="footer">
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <nav>
                            <ul class="footer-nav">
                                <li><a href="test01">中心概况</a></li>
                                <li><a href="test02">信息公开</a></li>
                                <li><a href="test03">在线预约</a></li>
                                <li><a href="test04">我的办理</a></li>
                                <li><a href="test05">办件查询</a></li>
                                <li><a href="test06">办事服务</a></li>
                                <li><a href="test07">自助取件</a></li>
                                <li class="active"><a href="test08">服务评价</a></li>
                                <li><a href="test10">生活服务</a></li>
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/assets/js/jquery.min.js"></script>
    <script src="~/Scripts/assets/bootstrap/js/bootstrap.min.js"></script>
    <script id="js" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <div class="modal fade" id="modal-container-647806" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">服务评价</h4>
                </div>
                <div class="modal-body">
                    <div class="success text-center p20">
                        <span class="cg-ico2"></span>评价成功！
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default" data-dismiss="modal">确认</button>
                </div>
            </div>
        </div>
    </div>


</body>
</html>