@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>青羊区政务</title>
    <link href="~/Scripts/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="assets/fonts/iconfont.css"> -->
    <link href="~/Scripts/assets/css/footer.css" rel="stylesheet" />
    <!-- <script src="assets/fonts/iconfont.js"></script> -->
    <link href="~/Scripts/assets/css/css.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid hf-top">
        <div class="fh-ico">
            <img src="img/left-ico2.png" />
        </div>
        <h3>青羊政务</h3>
        <div class="yh-ico">
            <img src="img/yh-ico.png" />
        </div>
    </div>
    <div class="container">
        <div class="row notfooter">
            <div class="col-md-12 mt15">
                <div class="">
                    <div class="panel-body evaluate">
                        <div class="jqr">
                            <p>输入KQ获取中心概况</p>
                            <p>
                                输入WZ获取中心位置
                            </p>
                            <p>
                                输入TH获取中心联系方式
                            </p>
                        </div>
                    </div>
                    <div class="mt15">
                        <div class="media znhf">
                            <div class="media-body" style="position:relative; ">
                                <div class="bs-example bs-example-popover" data-example-id="static-popovers">
                                    <div class="popover left" style="display:block; box-shadow:none;">
                                        <div class="arrow"></div>
                                        <div class="popover-content">
                                            <p class="text-right">WZ</p>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="media-right">
                                <a href="#">
                                    <img class="media-object" data-src="" alt="" src="img/tx-ico.png" style="width: 40px; height: 40px; background:#00ffff;">
                                </a>
                            </div>
                        </div>
                        <div class="media znhf">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" data-src="" alt="0" src="img/tx-ico.png" style="width: 40px; height: 40px; background:#0094ff;">
                                </a>
                            </div>
                            <div class="media-body" style="position:relative;">
                                <div class="bs-example bs-example-popover" data-example-id="static-popovers">
                                    <div class="popover right" style="display:block; margin:0; box-shadow:none;">
                                        <div class="arrow"></div>
                                        <div class="popover-content">
                                            <p class="text-left">四川省成都市青羊区草市街2号</p>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
      <div class="footer-bottom">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <nav>
                <ul class="footer-nav">
                  <li><a href="01.html">中心概况</a></li>
                  <li><a href="02.html">信息公开</a></li>
                  <li><a href="03.html">在线预约</a></li>
                  <li><a href="04.html">我的办理</a></li>
                  <li><a href="05.html">办件查询</a></li>
                  <li><a href="06.html">办事服务</a></li>
                  <li><a href="07.html">自助取件</a></li>
                  <li><a href="08.html">服务评价</a></li>
                  <li class="active"><a href="10.html">生活服务</a></li>
                </ul>
              </nav>
            </div>

          </div>
        </div>
      </div>
    </div>
    <script src="~/Scripts/assets/js/jquery.min.js"></script>
    <script src="~/Scripts/assets/bootstrap/js/bootstrap.min.js"></script>    
</body>
</html>