
@{
    ViewBag.Title = "微信凭据获取测试";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>WxToken</h2>
<div>
    <button id="GetToken">GetToken</button>
    <textarea name="" id="TokenValue" cols="30" rows="10"></textarea>
</div>
<script>
    $(function () {
        $("#GetToken").click(function () {
            
            $.ajax({
                url: "/Home/GetToken",
                success: function (data) {
                    $("#TokenValue").val(data);
                }
            });
        });

    });
</script>

